.header-conteiner {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
  position: relative;
}

.ul-nav {
  display: flex;
  gap: 20px;
}

.h1-logo {
  color: var(--branco);
}

.itens-lista {
  color: var(--cinza);
}

.item01 {
  color: var(--branco);
}

.btn-menu-mobile {
  display: none;
}

.span-logo {
  color: #c40d60;
}

@media (max-width: 996px) {
  .ul-nav {
    flex-direction: column;
    gap: 20px;
    text-align: right;
  }

  .ul-nav a {
    position: relative;
    display: inline-block;
    width: 100vw;
    max-width: 100%;
    padding-bottom: 10px;
  }

  .nav-conteiner {
    display: none;
    position: absolute;
    top: 110px;
    right: 65px;
  }

  .nav-conteiner.ativo {
    display: block;
  }

  .btn-menu-mobile {
    display: block;
  }

  .header-conteiner.ativo {
    padding-bottom: 400px;
  }

  .header-conteiner {
    padding-inline: 30px;
  }
}

@media (max-width: 500px) {
  .header-conteiner {
    max-width: 100%;
    width: 1600px;
    margin: 0 auto;
    padding-inline: 30px;
  }

  .nav-conteiner {
    display: none;
    position: absolute;
    top: 110px;
    right: 29px;
  }

  .h1-logo {
    font-size: 1.8rem;
  }
}

/* From Uiverse.io by JaydipPrajapati1910 */

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background-color: var(--branco);
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-50%);
}

.burger input:checked ~ span:nth-of-type(1) {
  top: 0;
  left: 5px;
  transform: rotate(405deg);
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  top: 28px;
  left: 5px;
  transform: rotate(-405deg);
}
